.screenFull {
	width:  1550px;
	//height: 700px;
	//background-color: red;
}

.screenLeft {
	width: 650px;
	float: left;
	//height: 1200px;
	//background-color: #444444;
}

.screenRight {
	width: 900px;
	float: right;
	//height: 1200px;
	//background-color: #11ff13;
}

.wrap{
	width: 100%;
}

.Header, .content, .Footer{
	width: 100%;
	float: left;
}

.Header, .Footer{
	height: 8em;
}

.SideBar{
	width: 10%;
	background-color: #FFBB00;
	float: left;
	//height: 600px;
}

.page_content{
	width: 90%;
	float: left;
	//height: 600px;
	//background-color: #EAEAEA;
}

.Header{
	background-color: #ABF200;
}

.Footer{
	background-color: #FF00DD;
}