.screenFull {
	width: 1500px;
	height: 800px;
	//background-color: red;
}
.screenLeft {
	width: 650px;
	height: 800px;
	float: left;
	//background-color: #444444;
}
.screenRight {
	width: 850px;
	height: 800px;
	float: right;
	//background-color: #11ff13;
}


.wrap{
	width: 100%;
}

.Header, .content, .Footer{
	width: 100%;
	float: left;
}

.Header, .Footer{
	height: 8em;
}

.SideBar{
	width: 10%;
	height: 600px;
	background-color: #FFBB00;
	float: left;
}

.page_content{
	width: 90%;
	height: 600px;
	background-color: #EAEAEA;
	float: left;
}

.Header{
	background-color: #ABF200;
}

.Footer{
	background-color: #FF00DD;
}